In [ ]:
#geometric distribution

In [ ]:
#negetive binomial distribution

#build confidence interval
Step 1: Compute Standard Error (SE)
SE=p^(1−p^)/n=0.68⋅(1−0.68)/850

​=8500.68⋅(1−0.68)​
​
=0.68⋅0.32850=0.2176850≈0.000256≈0.016
=8500.68⋅0.32​
​=8500.2176​
​≈0.000256
​≈0.016
Step 2: Compute Margin of Error (ME)
ME=z∗⋅SE=1.96⋅0.016=0.0314
ME=z∗⋅SE=1.96⋅0.016=0.0314
Step 3: Construct Confidence Interval
p^±ME=0.68±0.0314
p^​±ME=0.68±0.0314
Confidence Interval=(0.6486,0.7114)
Confidence Interval=(0.6486,0.7114)
Final Answer:

The 95% confidence interval is:
(0.649, 0.711)(rounded to 3 decimal places)
(0.649, 0.711)​

#claim using confidence interval
6. A company survey of 750 employees found that 85% were satisfied with their job. 
The margin of error at 95% confidence is ±4.9%. 
The company states in a report: "At least 80% of our employees are satisfied with 
their job." 
At 95% confidence, using the confidence interval approach, is this statement 
justified? 
• 
p ̂  = 0.85 
• MOE = 0.049 
• Claim: "At least 80% are satisfied" 
CI = 0.85 ± 0.049 = [0.801, 0.899] 
Conclusion: Entire CI is above 0.80 
Claim is Justified.

#hypothesis testing using p value

A survey of 1,200 voters found that 48% approve of a certain political leader. The 
margin of error at 95% confidence is ±2.5%. A news report states: "A majority of 
voters approve of the leader." At 95% confidence, using the p_value approach, is 
this statement justified? 
• Null hypothesis (H₀): p ≤ 0.5 (50% or fewer approve) 
• Alternative hypothesis (H₁): p > 0.5 (more than 50% approve) 
• Sample proportion (
 p ̂
 • Sample size (n): 1200 
): 0.48 
• Standard error (SE): √[0.5×0.5/1200] ≈ 0.0144 
• z = (0.48 - 0.5)/0.0144 ≈ -1.39 
• p-value: P(Z > -1.39) ≈ 0.9177 (we're testing one-tailed for p > 0.5, so P(Z > 1.39) = 
0.0823) 
• Decision: p-value > 0.05 → Fail to reject H₀ 
• Conclusion: Not justified

#hypothesis testing using CI

In [3]:
from scipy.stats import norm
left=norm.cdf(0.44)
left

np.float64(0.6700314463394064)

In [6]:
from scipy.stats import t
df=199
right=t.cdf(0.95,df)
right

np.float64(0.8283677140534138)

In [7]:
from scipy.stats import t
df=49
right=t.cdf(2.79,df)
right

np.float64(0.9962558402574364)

anova

a=no of columns
n=no of rows
N=no of cells

df between=a-1(a is no of colums)
df within=N-a(N is total values or cells all)
df total=N-1

fstatistic=mean square between groupor level/mean square within group level

msbetween=sum of square between group/degree of freedom between group

ms within=sum of square within group/degree of freedom withi group




sum of square between group=summision of(summision ai)^2/n - T^2/N

summision mg15=(1)+(2)+(3)=6
summision mg30=(11)+(12)+(13)=16
summision mg15=(21)+(22)+(23)=45

summison of (Eai)^2=(6)^2+(15)^2+(24)^2


T^2 is equal to E(Eai)=6+16+45(not square)



sum of sqyare within group=summision of y^2-summision of (summision ai)^2/n where y is all the values in group


sum of square within group=